//color
$mainColor: #1a1a1a;
$logoColor: #000e4bbd;
$nomalButtonColor: #05083ae1;
$sampleButtonColor: #013d7c;
$closeButtonColor: #474c52;
$resetButtonColor: #ff7575;
$headerColor: #009ce4;
$footerColor: #691d1d;
$headColor: #291e46;
$textColor: #252d35;
$lineColor: #5764b1;
$lineResultColor: #a1a1a15d;
$inputFontColor: #a2aef0;
$bodyBkColor: #1a1818;
$modalButtonColor: #ff232ebd;
$radioColor: #4744eb50;
$BkColor: #d3d3d3;

$changeTime: all 0.2s ease-out;
